.app__header {
    background-color: var(--color-jantar);
    background: linear-gradient(to bottom, var(--color-jantar), var(--color-vinova));
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-black);
    letter-spacing: 0.04em;
    font-size: 50px;
}

.app__header-img {
    width: 80%;
}

.poem{
    margin: auto;
}
